<%
	var news = [];
	var count = 0;
	for(i = 0;i< categoriesNews.length;i++){ 
		for(n=0;n<categoriesNews[i].news.length;n++){
			news[count]=categoriesNews[i].news[n];
			count++;
		}
		
	}
%>


<div class="container-fluid" style="padding: 2px 0px 15px 0px;">
	<div class="row w3-card-2"   style="padding: 0px; background-color:#fff ;color: white;">
		<%for(n = 0;n< news.length;n++){
				if( (n+3) % 3 < 2){ %>
					<%if(news[n].shotDesc != null && news[n].shotDesc.length > 0){%>
							<!--title-->
							<div class="row">
									<div class="container-fluid">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
													<h2>
														<a  onclick="return showWebcontent('<%=news[n].url%>',false,'<%=news[n].id%>','<%=news[n].type%>','')" class="mainarticletitle" style="text-decoration: none;font-size: 20px;"><%=news[n].title%></a>
													</h2>
												</div>
											</div>
											<!--Image and Desc-->
											<div class="row" >
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  style="padding: 0px;">
													<div class="container-fluid" style="padding: 0px;">
													  	<a   onclick="return showWebcontent('<%=news[n].url%>',false,'<%=news[n].id%>','<%=news[n].type%>','');" style="text-decoration: none;"> 
															<img class="img-responsive mainarticleimage" src="<%=news[n].imageUrl%>" alt="" style="width: 100%;" id="image_<%=news[n].id%>">
														</a>
													</div>
												</div>
												<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
													<p>
														<%=news[n].shotDesc%>
														<br><a href="/news/type/<%=news[n].type%>" style="text-decoration: none;"><span class="website_info" style="text-transform: uppercase;"><%=news[n].type%></span> </a><span class="website_info">(<%=news[n].fromWebSite%> <%=news[n].strDate %>)</span>
													</p>
												</div>
										   </div>
									</div>
							</div>
					<%}else{%>
							<!--Image and title-->
							<div class="container-fluid">
							<div class="row" >
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  style="padding: 0px;">
									<div class="container-fluid" style="padding: 0px;">
									  	<a   onclick="return showWebcontent('<%=news[n].url%>',false,'<%=news[n].id%>','<%=news[n].type%>','');" style="text-decoration: none;"> 
											<img class="img-responsive mainarticleimage" src="<%=news[n].imageUrl%>" alt="" style="width: 100%;" id="image_<%=news[n].id%>">
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
									<h2>
										<a  onclick="return showWebcontent('<%=news[n].url%>',false,'<%=news[n].id%>','<%=news[n].type%>','')" class="mainarticletitle" style="text-decoration: none;"><%=news[n].title%></a>
									</h2>
									<a href="/news/type/<%=news[n].type%>" style="text-decoration: none;"><span class="website_info" style="text-transform: uppercase;"><%=news[n].type%></span> </a><span class="website_info">(<%=news[n].fromWebSite%> <%=news[n].strDate %>)</span>
								</div>
							</div>
							</div>
					<%}%>
					
				<%}%>
		<%}%>
	</div>
</div>

		 