<% for(i=0;i<places.length;i++){ %>
	<div class="row">
		<div class="container-fluid" style="padding-bottom: 10px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;">
				<div class="container-fluid">
					<span style="font-weight: bold;"><%=places[i].name%></span><br>
					<span><%=places[i].vicinity%></span>
				</div>
				<div class="container-fluid" >
					<a style="color:#1a0dab;" id="openmap<%=places[i].id%>" onclick="return loadMap(<%=currentlocation.lat%>,<%=currentlocation.lng%>,<%=places[i].geometry.location.lat%>,<%=places[i].geometry.location.lng%>,'<%=places[i].id%>');">
						Bản Đồ
					</a> | 
					<a style="color:#1a0dab;" id="detaillink<%=places[i].id%>" onclick="return placeDetail('<%=places[i].place_id%>','<%=places[i].id%>');">
						Chi Tiết
					</a>
				</div>
			</div>
		</div>
		<div class="container-fluid"  id="detail<%=places[i].id%>">
		</div>
		<div class="container-fluid"  id="<%=places[i].id%>">
		</div>
	</div>
<%}%>


	

